Django==4.2.5
djangorestframework==3.14.0
joblib==1.4.2
gunicorn
nltk==3.9.1
scikit_learn==1.7.2
django-cors-headers
imbalanced-learn
gunicorn
numpy
pandas
xgboost==2.0.3
matplotlib
seaborn
wordcloud
nltk
